.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.button-submit, .button-submit-error {
    position: relative;
    width: 212px;
    height: 48px;
    background: linear-gradient(90deg, #FF9146 0%, #FF351B 100%);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    cursor: pointer;
}

.button-submit-error {
    background: #B2B7BB;
}
